body {
  font-family: 'Andale Mono', 'SF Pro Icons', system-ui;
  font-size: 30px;
  padding: 2rem 2rem 5rem;
  max-width: 40rem;
  margin: 0 auto;
}

.data {
  background-color: #dedede;
  color: #343434;
  font-size: 0.8rem;
  overflow-wrap: break-word;
  padding: 1rem;
}
